* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#header {
    background-color: #53d24e;
    text-align: center;
    padding: 40px;
}

#mainContent {
    display: flex;
    height: 80vh;
}

#sidebar {
    background-color: #79e5ef;
    width: 20%;
    padding: 20px;
}

#content {
    background-color: #e8ae5c;
    width: 80%;
    padding: 20px;
}

#footer {
    background-color: #53d24e;
    text-align: center;
    padding: 20px;
}