* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.wrapper {
    display: grid;
    gap: 5px;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-columns: 30% 70%;
    grid-template-areas: "header header" 
                         "sidebar content" 
                         "footer footer";
}

.box {
    color: white;
    font-size: 2em;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: #999999;
}

.sidebar {
    grid-area: sidebar;
    background-color: #444444;
}

.content {
    grid-area: content;
    background-color: #444444;
}

.footer {
    grid-area: footer;
    background-color: #999999;
}