* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

#header {
    min-height: 20vh;
    background-color: #9acc66;
}

#mainContent {
    min-height: 70vh;
    display: flex;
}

#sidebar {
    flex: 1;
    background-color: #98d8ff;
}

#content {
    flex: 3;
    background-color: #ffe6aa;
}

#footer {
    min-height: 10vh;
    background-color: #9acc66;
}